html, body {
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.5;
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  padding: 0px 30px;
  font-family: "Quicksand";
}
.title h1 {
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 1px 2px 2px #0b2740;
  color: #1E4A6F;
}

.container {
  padding: 50px;
}

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 0 1rem 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.collapsible.popout {
  border: none;
  box-shadow: none;
}
.collapsible.popout > li {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transform: scaleX(0.9) translate3d(0, 0, 0);
  transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.collapsible.popout > li:hover {
  will-change: margin, transform;
}
.collapsible.popout > li.active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 16px 0;
  transform: scaleX(1) translate3d(0, 0, 0);
}

.collapsible-header {
  display: block;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

.collapsible-body {
  overflow: hidden;
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.collapsible-body p {
  margin: 0;
  padding: 2rem;
}
.solvebtn{
  text-decoration: none;
  color: #4c9cdf;
  font-size:18px;
  font-family: 'Ubuntu';
}
