
<link rel="stylesheet" href="{% static 'BS4/assets/css/material-kit.css' %}">
    <!--   Core JS Files   -->
<script src="{% static 'jquery/3.2.js' %}" charset="utf-8"></script>
<script src="{% static 'BS4/assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'BS4/assets/js/bootstrap-material-design.js' %}"></script>

<!-- Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{% static 'BS4/assets/js/plugins/moment.min.js' %}"></script>



  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static 'BS4/assets/js/plugins/jasny-bootstrap.min.js' %}"></script>



<!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{% static 'BS4/assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>

<!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'BS4/assets/js/plugins/nouislider.min.js' %}"></script>

<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="{% static 'BS4/assets/js/material-kit.js?v=2.0.0' %}"></script>
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
